<div class="buttonpage" layout="column" layout-align="center center">
  <md-button href="/plant" class="md-raised md-cornered md-primary mainbtn" id="plant">Planting ({{activity.seedsService.seeds.usedSeeds.length}})</md-button>
  <md-button href="/water" class="md-raised md-cornered md-primary mainbtn" id="water">Watering ({{activity.activityService.activitiesObject.water.length}})</md-button>
  <md-button href="/weed" class="md-raised md-cornered md-primary mainbtn" id="weed">Weeding ({{activity.activityService.activitiesObject.weed.length}})</md-button>
  <md-button href="/harvest" class="md-raised md-cornered md-primary mainbtn" id="harvest">Harvesting ({{activity.seedsService.seeds.usedSeedsPlanted.length}})</md-button>
  <md-button href="/other" class="md-raised md-cornered mainbtn" id="other">Other ({{activity.activityService.activitiesObject.other.length}})</md-button>
  <md-button href="/issues" class="md-raised md-cornered md-accent md-hue-3 mainbtn" id="issue">Report Issues ({{activity.activityService.activitiesObject.issues.length}})</md-button>
</div>

<md-content layout="row" id="navigationbar">
  <md-toolbar class="row navbar one">
    <md-button class="md-mini" href="/home">
      <md-tooltip md-direction="top" md-visible="tooltipVisible">Back</md-tooltip>
      <md-icon class="material-icons">arrow_back</md-icon>
  </md-toolbar>
</md-content>
