<h1>Activity</h1>

<!-- for plant to-dos -->
<button type="button" class="btn btn-default" ng-model="plantBtn">Plant</button>

<!-- for input to-dos -->
<button type="button" class="btn btn-default" ng-model="inputsBtn">Inputs</button>

<!-- for weeding to-dos -->
<button type="button" class="btn btn-default" ng-model="weedBtn">Weed</button>

<!-- for harvesting to-dos -->
<button type="button" class="btn btn-default" ng-model="harvestBtn">Harvest</button>

<!-- for issue reporting -->
<button type="button" class="btn btn-default" ng-model="issueBtn">Issues</button>

<!-- for other to-dos or reporting -->
<button type="button" class="btn btn-default" ng-model="otherBtn">Other</button>

<!-- to go home -->
<button type="button" class="btn btn-default" ng-model="homeBtn">Home</button>

<!-- to generate report -->
<button type="button" class="btn btn-default" ng-model="reportBtn">Generate Report</button>
