<div class="row homebutton">
  <div class="col-xs-8 col-md-8 col-xs-offset-2 col-md-offset-2">
    <md-button href="/plant" class="md-raised md-cornered md-primary btn-block">Planting</md-button>
  </div>
  <div class="col-xs-8 col-md-8 col-xs-offset-2 col-md-offset-2">
    <md-button href="/water" class="md-raised md-cornered md-primary btn-block">Watering</md-button>
  </div>
  <div class="col-xs-8 col-md-8 col-xs-offset-2 col-md-offset-2">
    <md-button href="/weed" class="md-raised md-cornered md-primary btn-block">Weeding</md-button>
  </div>
  <div class="col-xs-8 col-md-8 col-xs-offset-2 col-md-offset-2">
    <md-button href="/harvest" class="md-raised md-cornered md-primary btn-block">Harvesting</md-button>
  </div>
  <div class="col-xs-8 col-md-8 col-xs-offset-2 col-md-offset-2">
    <md-button href="/other" class="md-raised md-cornered btn-block">Other</md-button>
  </div>
  <div class="col-xs-8 col-md-8 col-xs-offset-2 col-md-offset-2">
    <md-button href="/issues" class="md-raised md-cornered md-accent md-hue-3 btn-block">Report Issues</md-button>
  </div>
</div>

<md-content layout="row" id="navigationbar">
  <md-toolbar class="row navbar one">
    <md-button class="md-mini col-xs-2" href="/home">
      <md-tooltip md-direction="top" md-visible="tooltipVisible">Back</md-tooltip>
      <md-icon class="material-icons">arrow_back</md-icon>
  </md-toolbar>
</md-content>
