
<div class="centerbutton">
  <!-- Export Report button -->
  <md-button ng-csv="reportCtrl.getInfo()" csv-header=" ['Field', 'Section',
  'Row', 'Activity Type', 'Assign Date', 'Complete Date', 'Activity Duration',
  'Activity Amount', 'Weed Type', 'Activity Title', 'Comments', 'User Name',
  'Transfer?', 'Used Quantity', 'Planting Assign Date', 'Planting Date',
  'Grow Duration', 'Projected Harvest Date', 'Actual Harvest Date',
  'Amount Harvested', 'Amount Harvested (units)', 'Harvest Duration',
  'Generic Plant Name', 'Variety Name', 'Family', 'Seed Order Date',
  'Seed Order Quantity', 'Seed Units per Pack', 'Quantity Units',
  'Seeds per Unit', 'Manufacturer', 'Supplier', 'Days until Harvest',
  'Seed Receive Date', 'Lot #', 'Donation?', 'Plan to Use?'] "
  filename="report.csv">Generate Report</md-button>
</div>


<md-content layout="row" id="navigationbar">
  <md-toolbar class="row navbar one">
    <md-button class="md-mini" href="/home">
      <md-tooltip md-direction="top" md-visible="tooltipVisible">Back</md-tooltip>
      <md-icon class="material-icons">arrow_back</md-icon>
  </md-toolbar>
</md-content>
