<h1>Generate Report</h1>

<!-- form to look for what to report on -->
<form>
  <!-- seeds in use checkbox -->
  <!-- location checkbox -->
  <!-- plant checkbox -->
  <!-- water checkbox -->
  <!-- weed checkbox -->
  <!-- harvest checkbox -->
  <!-- issues checkbox -->
  <!-- other checkbox -->
  <!-- Export Report button -->
  <button type="button" class="btn btn-primary" ng-model="reportCtrl.exportBtn">Export</button>
</form>

<!-- home button -->
<a href="/home" class="btn btn-default" role="button" ng-model="reportCtrl.homeBtn">Home</a>

<!-- back button -->
<a href="/activities" class="btn btn-default" role="button" ng-model="reportCtrl.backBtn">Back</a>
