<md-content layout="column" class="well">
  <h3 class="titleheader">Select a Date Range</h3>
  <md-input-container>
    <label>Start</label>
    <md-datepicker ng-model="reportCtrl.date.start"></md-datepicker>
  </md-input-container>
  <md-input-container>
    <label>End</label>
    <md-datepicker ng-model="reportCtrl.date.end"></md-datepicker>
  </md-input-container>
  <div class="centerbutton">
    <md-button ng-click="reportCtrl.generateReport(reportCtrl.date)" class="md-raised md-cornered md-accent md-hue-3 btn-block">Generate Report</md-button>
  </div>
</md-content>

<md-content layout="row" id="navigationbar">
  <md-toolbar class="row navbar one">
    <md-button class="md-mini" href="/home">
      <md-tooltip md-direction="top" md-visible="tooltipVisible">Back</md-tooltip>
      <md-icon class="material-icons">arrow_back</md-icon>
  </md-toolbar>
</md-content>
