<div class="row homebutton">
  <div class="col-xs-8 col-md-8 col-xs-offset-2 col-md-offset-2">
    <md-button href="/seeds" class="md-raised md-cornered md-primary btn-block">Seeds</md-button>
  </div>
  <div class="col-xs-8 col-md-8 col-xs-offset-2 col-md-offset-2">
    <md-button href="/activities" class="md-raised md-cornered md-primary btn-block">Activities</md-button>
  </div>
  <div class="col-xs-8 col-md-8 col-xs-offset-2 col-md-offset-2">
    <md-button href="/generatereport" class="md-raised md-cornered btn-block">Reports</md-button>
  </div>
  <div class="col-xs-8 col-md-8 col-xs-offset-2 col-md-offset-2">
    <md-button href="/logout" class="md-raised md-cornered md-warn btn-block">Logout</md-button>
  </div>
</div>
