<div class="container">
  <div class="row">
    <h1 class="col-xs-12 col-md-12">Issues</h1>
  </div>

  <h3>Activities:</h3>

  <!-- to show list of to-dos -->
  <ul class="list-group row">
    <li class="list-group-item col-xs-12 col-md-12" ng-repeat="issue in issues.activities.activitiesObject.issues | orderBy: 'assigndate'">
      <div class="row">
        <div class="col-xs-8 col-md-10">
          <h4><a href="#" ng-click="showDetails = !showDetails">{{issue.title}}</a></h4>
          <p>Field: {{issue.field}} | Section: {{issue.section}} | Row: {{issue.row}}</p>
        </div>
        <div class="material-switch pull-right col-xs-4 col-md-2">
          <input id="{{issue.act_id}}" name="{{issue.act_id}}" type="checkbox" ng-click="completeDetails = !completeDetails">
          <label for="{{issue.act_id}}" class="label-success"></label>
        </div>
      </div>
      <div class="row" ng-show="showDetails">
        <div ng-hide="editing">
          <div class="col-xs-6 col-md-8">
            <p>{{issue.comments}}</p>
          </div>
          <div class="col-xs-2 col-md-2">
            <a href="#" ng-click="editing = !editing" role="button" class="btn btn-default">Edit</a>
          </div>
          <div class="col-xs-2 col-md-2">
            <a href="#" ng-click="issues.deleteIssue(issue.act_id, issue.id)" role="button" class="btn btn-danger">delete</a>
          </div>
        </div>

        <form class="form-horizontal col-xs-8 col-md-8" ng-show="editing" ng-submit="editing = false">
          <div class="form-group has-float-label">
            <textarea class="form-control" id="{{issue.act_id}}" rows="2" minlength="5" maxlength="100" ng-value={{issue.act_id}} placeholder="e.g. cabbage moths" ng-model="issue.comments"></textarea>
            <label for="{{issue.act_id}}">Comments</label>
          </div>
          <div class="form-group">
            <button class="btn btn-success" ng-click="issues.updateIssue(issue.act_id, issue)">Save</button>
            <button class="btn btn-danger" ng-click="editing = !editing">Cancel</button>
          </div>
        </form>
      </div>

      <div class="form-horizontal" ng-show="completeDetails">
        <div class="form-group row">
          <div class="col-xs-10 col-md-10">
            <label for="{{issue.act_id}}">Comments</label>
            <textarea class="form-control" id="{{issue.act_id}}" rows="2" minlength="5" maxlength="100" ng-value={{issue.act_id}} ng-model="issue.comments"></textarea>
          </div>
        </div>
        <div class="col-xs-2 col-md-2">
          <a href="#" ng-click="issues.completeIssue(issue.act_id, issue)" role="button" class="btn btn-success">Complete</a>
        </div>
      </div>
    </li>
  </ul>

  <!-- button to add a new task -->
  <a href="/issuesForm" role="button" class="btn btn-default">Add Issue</a>

  <!-- button to go back to activities page -->
  <a href="/activities" role="button" class="btn btn-default">Back</a>

  <!-- button to go home -->
  <a href="/home" role="button" class="btn btn-default">Home</a>
</div>
