

  <h3>Activities:</h3>

  <!-- to show list of to-dos -->
  <ul class="list-group row">
    <li class="list-group-item col-xs-12 col-md-12" ng-repeat="issue in issues.activities.activitiesObject.issues | orderBy: 'assigndate'">
      <div class="row">
        <div class="col-xs-8 col-md-10">
          <h4><a href="#" ng-click="showDetails = !showDetails">{{issue.title}}</a></h4>
          <p>Field: {{issue.field}} | Section: {{issue.section}} | Row: {{issue.row}}</p>
        </div>
        <div class="material-switch pull-right col-xs-4 col-md-2">
          <input id="{{issue.act_id}}" name="{{issue.act_id}}" type="checkbox" ng-click="completeDetails = !completeDetails">
          <label for="{{issue.act_id}}" class="label-success"></label>
        </div>
      </div>
      <div class="row" ng-show="showDetails">
        <div ng-hide="editing">
          <div class="col-xs-6 col-md-8">
            <p>{{issue.comments}}</p>
          </div>
          <div class="col-xs-2 col-md-2">
            <a href="#" ng-click="editing = !editing" role="button" class="btn btn-default">Edit</a>
          </div>
          <div class="col-xs-2 col-md-2">
            <a href="#" ng-click="issues.deleteIssue(issue.act_id, issue.id)" role="button" class="btn btn-danger">delete</a>
          </div>
        </div>

        <form class="form-horizontal col-xs-8 col-md-8" ng-show="editing" ng-submit="editing = false">
          <div class="form-group has-float-label">
            <textarea class="form-control" id="{{issue.act_id}}" rows="2" minlength="5" maxlength="100" ng-value={{issue.act_id}} placeholder="e.g. cabbage moths" ng-model="issue.comments"></textarea>
            <label for="{{issue.act_id}}">Comments</label>
          </div>
          <div class="form-group">
            <button class="btn btn-success" ng-click="issues.updateIssue(issue.act_id, issue)">Save</button>
            <button class="btn btn-danger" ng-click="editing = !editing">Cancel</button>
          </div>
        </form>
      </div>

      <div class="form-horizontal" ng-show="completeDetails">
        <div class="form-group row">
          <div class="col-xs-10 col-md-10">
            <label for="{{issue.act_id}}">Comments</label>
            <textarea class="form-control" id="{{issue.act_id}}" rows="2" minlength="5" maxlength="100" ng-value={{issue.act_id}} ng-model="issue.comments"></textarea>
          </div>
        </div>
        <div class="col-xs-2 col-md-2">
          <a href="#" ng-click="issues.completeIssue(issue.act_id, issue)" role="button" class="btn btn-success">Complete</a>
        </div>
      </div>
    </li>
</ul>

<md-content layout="row" id="navigationbar">
  <md-toolbar class="row navbar one">
    <md-button class="md-mini col-xs-2" href="/activities">
      <md-tooltip md-direction="top" md-visible="tooltipVisible">Back</md-tooltip>
      <md-icon class="material-icons">arrow_back</md-icon>
    </md-button>
    <md-button class="md-mini col-xs-2" href="/home">
      <md-tooltip md-direction="top" md-visible="tooltipVisible">Return Home</md-tooltip>
      <md-icon class="material-icons">home</md-icon>
    </md-button>
  </md-toolbar>

  <md-fab-speed-dial ng-hide="hidden" md-direction="up" md-open="isOpen" class="md-scale md-fab-top-right options" ng-class="md-hover-full">
    <md-fab-trigger>
      <md-button aria-label="seed menu" class="md-fab md-warn md-mini">
        <md-tooltip md-direction="left" md-visible="tooltipVisible">Issues Menu</md-tooltip>
        <md-icon class="material-icons" aria-label="menu">menu</md-icon>
      </md-button>
    </md-fab-trigger>

    <md-fab-actions class="row">
      <md-button href="/issuesForm" aria-label="add location" class="md-fab md-raised md-mini">
        <md-tooltip md-direction="left" md-visible="tooltipVisible" md-autohide="false">Report New Issue</md-tooltip>
        <md-icon class="material-icons">add_circle_outline</md-icon>
      </md-button>
    </md-fab-actions>
  </md-fab-speed-dial>
</md-content>
