<md-content class="well" layout="column">
  <h3 class="titleheader">Active Issues</h3>
  <div ng-repeat="issue in issues.activities.activitiesObject.issues | orderBy: ['assigndate' ,'act_id'] ">
    <div layout="row">
      <div flex="75">
        <h5><a href="#" ng-click="issues.showDetails(issue.act_id)">{{issue.title}}</a>
        </h5>
        <div ng-show="issues.details{{issue.act_id}}">
          <p class="indisplay"><strong>Field:</strong> {{issue.field}} <strong>Section:</strong> {{issue.section}} <strong>Row:</strong> {{issue.row}}</p>
          <p class="indisplay"><strong>Reported On: </strong>{{issue.assigndate | date:'MMM d, yyyy'}}</p>
          <p class="indisplay"><strong>Comments: </strong>{{issue.comments}}</p>
        </div>
        <div ng-show="issues.edits{{issue.act_id}}">
          <md-input-container class="md-block">
            <label>Update Title</label>
            <input id="comments {{issue.act_id}}" placeholder="{{issue.title}}" ng-model="issue.updatedTitle"></input>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Update Comments</label>
            <input id="comments {{issue.act_id}}" placeholder="{{issue.comments}}" ng-model="issue.updatedComments"></input>
          </md-input-container>
        </div>
        <div ng-show="issues.complete{{issue.act_id}}">
          <md-input-container class="md-block">
            <label>Additional Comments</label>
            <input id="comments {{issue.act_id}}" placeholder="{{issue.comments}}" ng-model="issue.comments"></input>
          </md-input-container>
        </div>
      </div>
      <div flex>
        <div ng-hide="issues.details{{issue.act_id}} || issues.edits{{issue.act_id}} || issues.complete{{issue.act_id}}">
          <md-button aria-label="submit edits" class="btn1 md-accent md-hue-3" ng-click="issues.markComplete(issue.act_id, issue.checkstatus)">
            <md-tooltip md-direction="right" md-visible="tooltipVisible">Mark as Complete</md-tooltip>
            <md-icon class="material-icons" aria-label="menu">{{issue.checkstatus}}</md-icon>
          </md-button>
        </div>
        <div ng-show="issues.details{{issue.act_id}}">
          <md-button aria-label="edit" class="btn1 md-accent md-hue-3" ng-click="issues.editDetails(issue.act_id)">
            <md-tooltip md-direction="right" md-visible="tooltipVisible">Edit Issue</md-tooltip>
            <md-icon class="material-icons" aria-label="menu">create</md-icon>
          </md-button>
          <md-button aria-label="delete" class="btn1 md-warn" ng-click="issues.deleteIssue(issue.act_id, issue.id)">
            <md-tooltip md-direction="right" md-visible="tooltipVisible">Delete Issue</md-tooltip>
            <md-icon class="material-icons" aria-label="menu">delete</md-icon>
          </md-button>
        </div>
        <div ng-show="issues.edits{{issue.act_id}}">
          <md-button aria-label="submit edits" class="btn1 md-accent md-hue-3" ng-click="issues.updateIssue(issue.act_id, issue)">
            <md-tooltip md-direction="right" md-visible="tooltipVisible">Submit</md-tooltip>
            <md-icon class="material-icons" aria-label="menu">done</md-icon>
          </md-button>
          <md-button aria-label="cancel edits" class="btn1 md-warn" ng-click="issues.editDetails(issue.act_id)">
            <md-tooltip md-direction="right" md-visible="tooltipVisible">Cancel</md-tooltip>
            <md-icon class="material-icons" aria-label="menu">not_interested</md-icon>
          </md-button>
        </div>
        <div ng-show="issues.complete{{issue.act_id}}">
          <md-button aria-label="finish issue" class="btn1 md-accent md-hue-3" ng-click="issues.completeIssue(issue.act_id, issue)">
            <md-tooltip md-direction="right" md-visible="tooltipVisible">Submit</md-tooltip>
            <md-icon class="material-icons" aria-label="menu">done</md-icon>
          </md-button>
          <md-button aria-label="cancel finish" class="btn1 md-warn" ng-click="issues.markComplete(issue.act_id, issue.checkstatus)">
            <md-tooltip md-direction="right" md-visible="tooltipVisible">Cancel</md-tooltip>
            <md-icon class="material-icons" aria-label="menu">not_interested</md-icon>
          </md-button>
        </div>
      </div>
    </div>
    <div class="line"></div>
  </div>
</md-content>

<md-content layout="row" id="navigationbar">
  <md-toolbar class="row navbar one">
    <md-button class="md-mini" href="/activities">
      <md-tooltip md-direction="top" md-visible="tooltipVisible">Back</md-tooltip>
      <md-icon class="material-icons">arrow_back</md-icon>
    </md-button>
    <md-button class="md-mini" href="/home">
      <md-tooltip md-direction="top" md-visible="tooltipVisible">Return Home</md-tooltip>
      <md-icon class="material-icons">home</md-icon>
    </md-button>
  </md-toolbar>

  <md-fab-speed-dial ng-hide="hidden" md-direction="up" md-open="isOpen" class="md-scale md-fab-top-right options" ng-class="md-hover-full">
    <md-fab-trigger>
      <md-button aria-label="seed menu" class="md-fab md-warn md-mini">
        <md-tooltip md-direction="left" md-visible="tooltipVisible">Issues Menu</md-tooltip>
        <md-icon class="material-icons" aria-label="menu">menu</md-icon>
      </md-button>
    </md-fab-trigger>

    <md-fab-actions class="row">
      <md-button href="/issuesForm" aria-label="add location" class="md-fab md-raised md-mini">
        <md-tooltip md-direction="left" md-visible="tooltipVisible" md-autohide="false">Report New Issue</md-tooltip>
        <md-icon class="material-icons">add_circle_outline</md-icon>
      </md-button>
    </md-fab-actions>
  </md-fab-speed-dial>
</md-content>
