
<md-content layout="column" class="row well display">
  <div class="col-xs-12 col-md-12">
    <md-input-container class="md-block">
      <label>Location of Issue</label>
      <md-select name="type" ng-model="issueForm.task.location.id" id="location" required="">
        <md-option ng-repeat="location in issueForm.locations.locations.allLocations | orderBy: ['field', 'section', 'row']" ng-value="location.id">Field: {{location.field}} Section: {{location.section}} Row: {{location.row}}</md-option>
      </md-select>
    </md-input-container>
    <md-input-container class="md-block">
      <label>Title</label>
      <input type="text" ng-model="issueForm.task.title" id="title" required="">
    </md-input-container>
    <md-input-container class="md-block">
      <label>Comments</label>
      <textarea ng-model="issueForm.task.comments" id="comments"></textarea>
    </md-input-container>
    <div layout="center center">
      <md-button ng-click="issueForm.addTask(issueForm.task)" class="md-raised md-cornered md-accent md-hue-3 btn-block">Report Issue</md-button>
    </div>
  </div>
</md-content>

<md-content layout="row" id="navigationbar">
  <md-toolbar class="row navbar one">
    <md-button class="md-mini col-xs-2" href="/issues">
      <md-tooltip md-direction="top" md-visible="tooltipVisible">Back</md-tooltip>
      <md-icon class="material-icons">arrow_back</md-icon>
    </md-button>
    <md-button class="md-mini col-xs-2" href="/home">
      <md-tooltip md-direction="top" md-visible="tooltipVisible">Return Home</md-tooltip>
      <md-icon class="material-icons">home</md-icon>
    </md-button>
  </md-toolbar>
</md-content>
