
<h1>location </h1>


<div class="row">
    <div class="col-md-10">
        <div class="table-responsive">
<table class="table table-hover">
<th>
  Edit
</th>
    <th>Id</th>

    <th>Field</th>
    <th>Section</th>
    <th>Row</th>
    <th>Delete</th>


    </tr>
    <tr ng-repeat="locvar in location.locations track by $index">
        <!-- checkbox with ng show/hide to input location etc. -->

        <td>
          <input type="checkbox" name="locedit" value="locedit" ng-model="locvar.locedit"  ng-click="locedit=!locedit">
          <!-- start of modal -->
          <form ng-show="locedit">
            <div class="col-xs-2">


            <label for="ex1">Field</label>
          <input type="text" name="info" class="form-control" ng-model="locvar.field" id="ex1"/>
          <label>Section</label>

          <input type="text" name="info" class="form-control" ng-model="locvar.section" />
          <label>Row</label>

          <input type="text" name="info" class="form-control" ng-model="locvar.row" />
          <button type="button" class="btn btn-default" ng-click="location.updateLocation(locvar.id, locvar.field, locvar.section, locvar.row)">Save Changes</button>
</div>
          </form>
          <!-- end of modal -->
        </td>
        <td>{{locvar.id}}</td>
        <td>{{locvar.field}}</td>
        <td>{{locvar.section}}</td>
        <td>{{locvar.row}}</td>
        <td>         <button ng-click="location.deleteLocation(locvar.id)" class="btn btn-danger">Delete</button>
 </td>

    </tr>
  </table>
</div>
</div>
</div>

<md-content layout="row" id="navigationbar">
  <md-toolbar class="row navbar one">
    <md-button class="md-mini col-xs-2" href="/seeds">
      <md-tooltip md-direction="top" md-visible="tooltipVisible">Back</md-tooltip>
      <md-icon class="material-icons">arrow_back</md-icon>
    </md-button>
    <md-button class="md-mini col-xs-2" href="/home">
      <md-tooltip md-direction="top" md-visible="tooltipVisible">Return Home</md-tooltip>
      <md-icon class="material-icons">home</md-icon>
    </md-button>
  </md-toolbar>

  <md-fab-speed-dial ng-hide="hidden" md-direction="up" md-open="isOpen" class="md-scale md-fab-top-right options" ng-class="md-hover-full">
    <md-fab-trigger>
      <md-button aria-label="seed menu" class="md-fab md-warn md-mini">
        <md-tooltip md-direction="left" md-visible="tooltipVisible">Locations Menu</md-tooltip>
        <md-icon class="material-icons" aria-label="menu">menu</md-icon>
      </md-button>
    </md-fab-trigger>

    <md-fab-actions class="row">
      <md-button href="/newLocationForm" aria-label="add location" class="md-fab md-raised md-mini">
        <md-tooltip md-direction="left" md-visible="tooltipVisible" md-autohide="false">Add New Location</md-tooltip>
        <md-icon class="material-icons">add_circle_outline</md-icon>
      </md-button>
    </md-fab-actions>
  </md-fab-speed-dial>
</md-content>
