<md-content layout="column" class="well">
  <h3 class="titleheader">Add Location</h3>
  <md-input-container class="md-block">
    <label>Field</label>
    <input type="text" ng-model="locationForm.location.field" ng-maxlength="10" name="field"/>
  </md-input-container>
  <md-input-container class="md-block">
    <label>Section</label>
    <input type="text" ng-model="locationForm.location.section" ng-maxlength="10" name="section"/>
  </md-input-container>
  <md-input-container class="md-block">
    <label>Row</label>
    <input type="text" ng-model="locationForm.location.row" ng-maxlength="10" name="row"/>
  </md-input-container>
  <div class="centerbutton">
    <md-button ng-click="locationForm.addLocation(locationForm.location)" class="md-raised md-cornered md-accent md-hue-3 mainbtn">Submit</md-button>
  </div>
</md-content>

<md-content layout="row" id="navigationbar">
  <md-toolbar class="row navbar one">
    <md-button class="md-mini" href="/seeds">
      <md-tooltip md-direction="top" md-visible="tooltipVisible">Back</md-tooltip>
      <md-icon class="material-icons">arrow_back</md-icon>
    </md-button>
    <md-button class="md-mini" href="/home">
      <md-tooltip md-direction="top" md-visible="tooltipVisible">Return Home</md-tooltip>
      <md-icon class="material-icons">home</md-icon>
    </md-button>
  </md-toolbar>
</md-content>
