<md-content layout="column" class="row well display">
  <div class="col-xs-12 col-md-12">
    <md-input-container class="md-block">
      <label>Field</label>
      <input type="text" ng-model="locationForm.location.field" id="field" ng-maxlength="10" name="field" required="" />
    </md-input-container>
    <md-input-container class="md-block">
      <label>Section</label>
      <input type="text" ng-model="locationForm.location.section" ng-maxlength="10" id="section" name="section" required="" />
    </md-input-container>
    <md-input-container class="md-block">
      <label>Row</label>
      <input type="text" ng-model="locationForm.location.row" ng-maxlength="10" id="row" name="row" required="" />
    </md-input-container>
    <div layout="center center">
      <md-button ng-click="locationForm.addLocation(locationForm.location)" class="md-raised md-cornered md-warn btn-block">Submit</md-button>
    </div>
  </div>
</md-content>

<md-content layout="row" id="navigationbar">
  <md-toolbar class="row navbar one">
    <md-button class="md-mini col-xs-2" href="/seeds">
      <md-tooltip md-direction="top" md-visible="tooltipVisible">Back</md-tooltip>
      <md-icon class="material-icons">arrow_back</md-icon>
    </md-button>
    <md-button class="md-mini col-xs-2" href="/home">
      <md-tooltip md-direction="top" md-visible="tooltipVisible">Return Home</md-tooltip>
      <md-icon class="material-icons">home</md-icon>
    </md-button>
  </md-toolbar>
</md-content>
