<div class="container">
    <h1>Add Seed</h1>

<form name="nsForm">
  <div class="form-group">
  <label for="genericName">Generic Name</label>
  <input type="text" class="form-control" ng-model="newSeed.seed.generic" placeholder="e.g. bean, carrot" name="generic" id="generic" ng-maxlength="40" required >
  <div ng-messages="nsForm.generic.$error" style="color:maroon" role="alert" >
<div ng-message="required">Please complete.</div>
<div ng-message="maxlength">Your entry is too long.</div>
</div>
<div class="form-group">
  <label for="seedVariety">Variety</label>
  <input type="text" class="form-control" ng-model="newSeed.seed.variety" placeholder="e.g. Egyptian Walking Onion">
</div>
<div class="form-group">
  <label for="plantFamily">Plant Family</label>
  <input type="text" class="form-control" ng-model="newSeed.seed.family" placeholder="Enter plant family">
</div>
<div class="form-group">
  <label for="orderDate">Order Date</label>
  <input type="date" class="form-control" ng-model="newSeed.seed.orderdate" placeholder="">
</div>
<div class="form-group">
  <label for="quantity">Quantity</label>
  <input type="number" class="form-control" ng-model="newSeed.seed.quantity" placeholder="quantity">
</div>
<div class="form-group">
  <label for="unitsPerPack">Units per pack</label>
  <input type="number" class="form-control" ng-model="newSeed.seed.unitsperpack" placeholder="units per pack">
</div>
<div class="form-group">
  <label for="quantityUnits">Quantity units</label>
  <input type="text" class="form-control" ng-model="newSeed.seed.quantityunits" placeholder="quantity units">
</div>
<div class="form-group">
  <label for="seedsPerUnit">Seeds per unit</label>
  <input type="number" class="form-control" ng-model="newSeed.seed.seedsperunit" placeholder="seeds per unit">
</div>
<div class="form-group">
  <label for="manufacturer">Manufacturer</label>
  <input type="text" class="form-control" ng-model="newSeed.seed.manufacturer" placeholder="manufacturer">
</div>
<div class="form-group">
  <label for="supplier">Supplier</label>
  <input type="text" class="form-control" ng-model="newSeed.seed.supplier" placeholder="supplier">
</div>
<div class="form-group">
  <label for="daysToHarvest">Days to harvest</label>
  <input type="number" class="form-control" ng-model="newSeed.seed.daystoharvest" placeholder="How many days will it take to harvest?">
</div>
<div class="form-group">
  <label for="receiveDate">Receive Date</label>
  <input type="date" class="form-control" ng-model="newSeed.seed.receivedate" placeholder="">
</div>
<div class="form-group">
  <label for="lotNumber">Lot Number</label>
  <input type="text" class="form-control" ng-model="newSeed.seed.lotnumber" placeholder="lot number">
</div>
<div class="checkbox">
   <label for="donation">
     <input type="checkbox" ng-model="newSeed.seed.donation" ng-true-value="true" ng-false-value="false"> Donation
   </label>
 </div>
 <div class="checkbox">
   <label>
     <input type="checkbox" ng-model="newSeed.seed.plantouse" ng-true-value="true" ng-false-value="false"> Plan to use
   </label>
 </div>
<button type="button" class="btn btn-default" ng-click="newSeed.addSeed(newSeed.seed)">Add Seed</button>
<a href="/seeds" role="button" class="btn btn-default">Back</a>
</form>
</div>
