<md-content name="nsForm" class="row display well" layout="column">
  <h3 class="titleheader">Add Seed</h3>
  <md-input-container class="md-block">
    <label>Generic Name</label>
    <input ng-model="newSeed.seed.generic" placeholder="Spinach"></input>
  </md-input-container>
  <!-- <md-input-container class="md-block">
    <label>Family Name</label>
    <input ng-model="newSeed.seed.family" placeholder="Amaranthacea"></input>
  </md-input-container> -->
  <md-input-container class="md-block">
    <label>Variety</label>
    <input ng-model="newSeed.seed.variety" placeholder="Renegade"></input>
  </md-input-container>
  <md-input-container class="md-block">
    <label>Manufacturer</label>
    <input ng-model="newSeed.seed.manufacturer" placeholder="High Mowing"></input>
  </md-input-container>
  <!-- <md-input-container class="md-block">
    <label>Supplier</label>
    <input ng-model="newSeed.seed.supplier" placeholder="Bumblebee"></input>
  </md-input-container> -->
  <!-- <md-input-container class="md-block">
    <label>Lot Number</label>
    <input ng-model="newSeed.seed.lotnumber" placeholder="see packaging"></input>
  </md-input-container> -->
  <!-- <md-input-container class="md-block">
    <label>Order Date</label>
    <md-datepicker ng-model="newSeed.seed.orderdate">Order Date</md-datepicker>
  </md-input-container> -->
  <md-input-container class="md-block">
    <label>Receive Date</label>
    <md-datepicker ng-model="newSeed.seed.receivedate"></md-datepicker>
  </md-input-container>
  <md-input-container class="md-block">
    <label>Quantity</label>
    <input type="number" ng-model="newSeed.seed.quantity" placeholder="25"></input>
  </md-input-container>
  <!-- <md-input-container class="md-block">
    <label>Quantity Units</label>
    <input type="text" ng-model="newSeed.seed.quantityunits" placeholder="M, grams"></input>
  </md-input-container> -->
  <!-- <md-input-container class="md-block">
    <label>Units Per Pack</label>
    <input type="number" ng-model="newSeed.seed.unitsperpack"></input>
  </md-input-container> -->
  <md-input-container class="md-block">
    <label>Seeds Per Unit</label>
    <input type="number" ng-model="newSeed.seed.seedsperunit" placeholder="50"></input>
  </md-input-container>
  <md-input-container>
    <label>Days Until Harvest</label>
    <input type="number" ng-model="newSeed.seed.daystoharvest" placeholder="50"></input>
  </md-input-container>
  <md-input-container class="md-block">
    <md-checkbox ng-model="newSeed.seed.donation">Donation</md-checkbox>
  </md-input-container>
  <md-input-container class="md-block">
    <md-checkbox ng-model="newSeed.seed.plantouse">Plan to Use</md-checkbox>
  </md-input-container>
  <div layout="center center">
    <md-button ng-click="newSeed.addSeed(newSeed.seed)" class="md-raised md-cornered md-accent md-hue-3 btn-block">Add Seed</md-button>
  </div>
</md-content>

<md-content layout="row" id="navigationbar">
  <md-toolbar class="row navbar one">
    <md-button class="md-mini col-xs-2" href="/seeds">
      <md-tooltip md-direction="top" md-visible="tooltipVisible">Back</md-tooltip>
      <md-icon class="material-icons">arrow_back</md-icon>
    </md-button>
    <md-button class="md-mini col-xs-2" href="/home">
      <md-tooltip md-direction="top" md-visible="tooltipVisible">Return Home</md-tooltip>
      <md-icon class="material-icons">home</md-icon>
    </md-button>
  </md-toolbar>
</md-content>
