<div class="container">
  <div class="row">
    <h1 class="col-xs-12 col-md-12">Other</h1>
  </div>
  <h3>Activities:</h3>

  <!-- to show list of to-dos -->
  <ul class="list-group row">
    <li class="list-group-item col-xs-12 col-md-12" ng-repeat="other in other.listActiveTasks | orderBy: other.listActiveTasks.assigndate">
      <div class="row">
        <h4 class="col-xs-8 col-md-10"><a href="#" ng-click="showDetails = !showDetails">{{other.title}}</a></h4>
        <div class="material-switch pull-right col-xs-4 col-md-2">
          <input id="{{other.id}}" name="{{other.id}}" type="checkbox" ng-click="other.completeOther(other.id)" />
          <label for="{{other.id}}" class="label-success"></label>
        </div>
      </div>
      <div class="row" ng-show="showDetails">
        <p class="col-xs-6 col-md-8">{{other.comments}}</p>
        <div class="col-xs-2 col-md-2">
          <a href="#" ng-click="other.editOther()" role="button" class="btn btn-default">Edit</a>
        </div>
        <div class="col-xs-2 col-md-2">
          <a href="#" ng-click="other.deleteOther()" role="button" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </li>
  </ul>

  <!-- button to add a new task -->
  <a href="/otherForm" role="button" class="btn btn-default">Add Task</a>

  <!-- button to go back to activities page -->
  <a href="/activity" role="button" class="btn btn-default">Back</a>

  <!-- button to go home -->
  <a href="/home" role="button" class="btn btn-default">Home</a>
</div>
