<div class="container">
  <h1>Planting Form</h1>
  <form class="form-horizontal col-xs-12 col-md-6 col-md-offset-3">
    <div class="form-group row">
      <label for="field">Select Seed:</label>
      <select class="form-control" data-live-search="true" ng-model="plantForm.plant.choice">
        <option data-tokens="tomato" value="tomato">Tomato</option>
        <option data-tokens="lettuce" value="lettuce">Lettuce</option>
        <option data-tokens="apple" value="apple">Apple</option>
      </select>
    </div>

    <div class="form-group">
      <label for="quantity">Quantity to Plant:</label>
      <input type="number" class="form-control" id="quantity" ng-model="plantForm.plant.quantity">
    </div>

    <div class="form-group row">
      <label for="location">Location:</label>
      <select class="form-control" ng-model="plantForm.plant.location"
      ng-options="'Field: ' + location.field + ' Section: ' + location.section +
      ' Row: ' + location.row for location in plantForm.locations">
      </select>
    </div>
    <div class="form-group">
      <label><input type="checkbox" id="transfer" value="transfer" ng-model="plantForm.plant.transfer">Needs to be Transferred</label>
    </div>

    <div class="form-group">
      <label for="assigndate">Assign Date:</label>
      <input type="date" class="form-control" id="assigndate" ng-model="plantForm.plant.assignDate">
    </div>

    <div class="form-group">
      <label for="projectedHarvestDate">Projected Harvest Date:</label>
      <input type="date" class="form-control" id="projectedHarvestDate" ng-model="plantForm.plant.harvestDate">
    </div>

    <div class="form-group row">
      <div class="col-xs-12 col-md-12">
        <button type="submit" ng-click="plantForm.submitPlant(plantForm.plant)" class="btn btn-primary">Submit</button>
        <a href="/plant" role="button" class="btn btn-default">Back</a>
      </div>
    </div>
</form>
</div>
