<md-content class="row display well" layout="column">
  <h3 class="titleheader">To Be Planted</h3>
  <div ng-repeat="plant in planting.usedSeeds.seeds.usedSeeds | orderBy: ['field', 'section', 'row']">
    <div class="col-xs-8 col-md-9">
      <h5>PLANT: <a href="#" ng-click="planting.showDetails(plant.seedsinuse_id)">{{ plant.generic }}, <strong>Field:</strong> {{ plant.field }} <strong>Section:</strong> {{ plant.section }} <strong>Row:</strong> {{ plant.row }}</a></h5>
      <div ng-show="planting.details{{plant.seedsinuse_id}}">
        <p class="indisplay"><strong>Family:</strong> {{ plant.family }} <strong>Variety:</strong> {{ plant.variety }} <strong>Quantity:</strong> {{ plant.usedquantity}}</p>
        <p class="indisplay"><strong>MFR:</strong> {{ plant.manufacturer }} <strong>Supplier:</strong> {{ plant.supplier }} <strong>Lot Number:</strong> {{ plant.lotnumber }}</p>
        <p class="indisplay"><strong>Assigned:</strong> {{ plant.plantedassigndate | date:'MMM d, yyyy' }} </p>
      </div>
      <div ng-show="planting.edits{{plant.seedsinuse_id}}">
        <md-input-container class="md-block">
          <label>Update Quantity</label>
          <input name="complete {{ plant.seedsinuse_id }}" ng-model="plant.usedquantity" placeholder="{{plant.usedquantity}}" type="number"/>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Update Assign Date</label>
          <md-datepicker ng-model="plant.newAssignDate" md-placeholder="{{plant.plantedassigndate | date: 'MM/dd/yyyy'}}"></md-datepicker>
        </md-input-container>
      </div>
      <div ng-show="planting.complete{{plant.seedsinuse_id}}">
        <md-input-container class="md-block">
          <label>Quantity Used</label>
          <input name="complete {{ plant.seedsinuse_id }}" ng-model="plant.usedquantity" placeholder="{{plant.usedquantity}}" type="number"/>
        </md-input-container>
      </div>

    </div>
    <div class="col-xs-2 col-md-2">
      <div ng-hide="planting.details{{plant.seedsinuse_id}} || planting.edits{{plant.seedsinuse_id}} || planting.complete{{plant.seedsinuse_id}}">
        <md-button aria-label="submit edits" class="btn1 md-accent md-hue-3" ng-click="planting.markComplete(plant.seedsinuse_id)">
          <md-tooltip md-direction="right" md-visible="tooltipVisible">Mark as Complete</md-tooltip>
          <md-icon class="material-icons" aria-label="menu">check_box_outline_blank</md-icon>
        </md-button>
      </div>
      <div ng-show="planting.details{{plant.seedsinuse_id}}">
        <md-button aria-label="edit" class="btn1 md-accent md-hue-3" ng-click="planting.editDetails(plant.seedsinuse_id)">
          <md-tooltip md-direction="right" md-visible="tooltipVisible">Edit Issue</md-tooltip>
          <md-icon class="material-icons" aria-label="menu">create</md-icon>
        </md-button>
        <md-button aria-label="delete" class="btn1 md-warn" ng-click="planting.deletePlant(plant.seedsinuse_id, plant)">
          <md-tooltip md-direction="right" md-visible="tooltipVisible">Delete Issue</md-tooltip>
          <md-icon class="material-icons" aria-label="menu">delete</md-icon>
        </md-button>
      </div>
      <div ng-show="planting.edits{{plant.seedsinuse_id}}">
        <md-button aria-label="submit edits" class="btn1 md-accent md-hue-3" ng-click="planting.updatePlant(plant.seedsinuse_id, plant)">
          <md-tooltip md-direction="right" md-visible="tooltipVisible">Submit</md-tooltip>
          <md-icon class="material-icons" aria-label="menu">done</md-icon>
        </md-button>
        <md-button aria-label="cancel edits" class="btn1 md-warn" ng-click="planting.editDetails(plant.seedsinuse_id)">
          <md-tooltip md-direction="right" md-visible="tooltipVisible">Cancel</md-tooltip>
          <md-icon class="material-icons" aria-label="menu">not_interested</md-icon>
        </md-button>
      </div>
      <div ng-show="planting.complete{{plant.seedsinuse_id}}">
        <md-button aria-label="finish plant" class="btn1 md-accent md-hue-3" ng-click="planting.completePlant(plant.seedsinuse_id, plant)">
          <md-tooltip md-direction="right" md-visible="tooltipVisible">Submit</md-tooltip>
          <md-icon class="material-icons" aria-label="menu">done</md-icon>
        </md-button>
        <md-button aria-label="cancel finish" class="btn1 md-warn" ng-click="planting.markComplete(plant.seedsinuse_id)">
          <md-tooltip md-direction="right" md-visible="tooltipVisible">Cancel</md-tooltip>
          <md-icon class="material-icons" aria-label="menu">not_interested</md-icon>
        </md-button>
      </div>
    </div>
    <div class="line"></div>
  </div>
</md-content>

<md-content layout="row" id="navigationbar">
    <md-toolbar class="row navbar one">
        <md-button class="md-mini col-xs-2" href="/activities">
            <md-tooltip md-direction="top" md-visible="tooltipVisible">Back</md-tooltip>
            <md-icon class="material-icons">arrow_back</md-icon>
        </md-button>
        <md-button class="md-mini col-xs-2" href="/home">
            <md-tooltip md-direction="top" md-visible="tooltipVisible">Return Home</md-tooltip>
            <md-icon class="material-icons">home</md-icon>
        </md-button>
    </md-toolbar>

    <md-fab-speed-dial ng-hide="hidden" md-direction="up" md-open="isOpen" class="md-scale md-fab-top-right options" ng-class="md-hover-full">
        <md-fab-trigger>
            <md-button aria-label="seed menu" class="md-fab md-warn md-mini">
                <md-tooltip md-direction="left" md-visible="tooltipVisible">Planting Menu</md-tooltip>
                <md-icon class="material-icons" aria-label="menu">menu</md-icon>
            </md-button>
        </md-fab-trigger>

        <md-fab-actions class="row">
            <md-button href="/plantForm" aria-label="add location" class="md-fab md-raised md-mini">
                <md-tooltip md-direction="left" md-visible="tooltipVisible" md-autohide="false">Add New Activity</md-tooltip>
                <md-icon class="material-icons">add_circle_outline</md-icon>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>
</md-content>
