<md-content class="well" layout="column">
  <h3 class="titleheader">Add Planting Activity</h3>
  <md-input-container class="md-block">
    <label>Select a Seed</label>
    <md-select ng-model="plantForm.plant.choice" ng-change="plantForm.updateCount(plantForm.plant.choice)">
      <md-option ng-repeat="seed in plantForm.allSeeds.seeds.allSeeds | orderBy: ['generic', 'variety']" ng-value="seed">
        {{seed.generic}} - {{seed.variety}}
      </md-option>
    </md-select>
  </md-input-container>
  <md-input-container class="md-block">
    <label>Quantity to Plant</label>
    <input ng-model="plantForm.plant.usedquantity" type="number" ng-required/>
    <small>{{plantForm.quantityHelp}}</small>
  </md-input-container>
  <md-input-container class="md-block">
    <label for="location">Location:</label>
    <md-select name="type" ng-model="plantForm.plant.location.id" id="location">
      <md-option ng-repeat="location in plantForm.locationService.locations.allLocations | orderBy: ['field', 'section', 'row']"
        ng-value="location.id">
        Field: {{location.field}} Section: {{location.section}} Row: {{location.row}}
      </md-option>
    </md-select>
  </md-input-container>
  <md-input-container class="md-block">
    <md-checkbox ng-model="plantForm.plant.transfer">Needs to Be Transferred</md-checkbox>
  </md-input-container>
  <md-input-container class="md-block">
    <label>Assign</label>
    <md-datepicker ng-model="plantForm.plant.assignDate" ng-change="plantForm.updateHarvestEst(plantForm.plant.assignDate, plantForm.plant.choice)"></md-datepicker>
  </md-input-container>
  <md-input-container class="md-block">
    <label>Est. Harvest</label>
    <md-datepicker ng-model="plantForm.plant.harvestDate"></md-datepicker>
    <small>{{plantForm.harvestHelp}}</small>
  </md-input-container>
  <div class="centerbutton">
    <md-button ng-click="plantForm.submitPlant(plantForm.plant)" class="md-raised md-cornered md-accent md-hue-3 mainbtn">Submit</md-button>
  </div>
</md-content>

<md-content layout="row" id="navigationbar">
  <md-toolbar class="row navbar one">
    <md-button class="md-mini" href="/plant">
      <md-tooltip md-direction="top" md-visible="tooltipVisible">Back</md-tooltip>
      <md-icon class="material-icons">arrow_back</md-icon>
    </md-button>
    <md-button class="md-mini" href="/home">
      <md-tooltip md-direction="top" md-visible="tooltipVisible">Return Home</md-tooltip>
      <md-icon class="material-icons">home</md-icon>
    </md-button>
  </md-toolbar>
</md-content>
