<div class="container">
    <div class="row">
        <h1 class="col-xs-12 col-md-12">Plant</h1>
    </div>

    <h3>Activities:</h3>
    <!-- to show list of to-dos -->
    <div class="container">

        <ul class="list-group row">
            <li class="list-group-item col-xs-12 col-md-12" ng-repeat="plant in
            plant.usedSeeds.seeds.usedSeeds">
                <div class="row">
                    <div class="col-xs-8 col-md-10">
                        <h4><a href="#" ng-click="showDetails = !showDetails">
                      Assigned Date: {{ plant.plantedassigndate }} | Quantity to Plant: {{ plant.quantity}}</a></h4>
                        <h5>Generic Name: {{ plant.generic }} | Plant Family: {{ plant.family }} | Plant Variety: {{ plant.variety }}</h5>
                        <p>Manufacturer: {{ plant.manufacturer }} | Supplier: {{ plant.supplier }} | Lot Number: {{ plant.lotnumber }}</p>
                        <p>Field: {{ plant.field }} | Section: {{ plant.section }} | Row: {{ plant.row }}</p>
                    </div>
                    <div class="material-switch pull-right col-xs-4 col-md-2">
                        <input id="{{ plant.seedsinuse_id }}" name="{{ plant.seedsinuse_id }}" type="checkbox" ng-click="completeDetails = !completeDetails" />
                        <label for="{{ plant.seedsinuse_id }}" class="label-success"></label>
                    </div>
                </div>
                <div class="row" ng-show="showDetails">
                    <div class="col-xs-2 col-md-2">
                        <p class="col-xs-6 col-md-8">{{ plant.comments }}</p>
                    </div>
                    <div class="col-xs-2 col-md-2">
                        <a href="#" ng-click="plant.editPlant()" role="button" class="btn btn-default">edit</a>
                    </div>
                    <div class="col-xs-2 col-md-2">
                        <a href="#" ng-click="plant.deletePlant(plant.seedsinuse_id)" role="button" class="btn btn-danger">delete</a>
                    </div>
                </div>
                <div class="form-horizontal" ng-show="completeDetails">
                    <div class="col-xs-2 col-md-2">
                        <a href="#" ng-click="plant.completePlant(plant.seedsinuse_id, plant)" role="button" class="btn btn-success">Complete</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>


    <!-- button to add a new task -->
    <a href="/plantForm" role="button" class="btn btn-default">Add Seed to be Planted</a>

    <!-- button to go back to activities page -->
    <a href="/activity" role="button" class="btn btn-default">Back</a>

    <!-- button to go home -->
    <a href="/home" role="button" class="btn btn-default">Home</a>
</div>
