<!-- search bar for finding seeds -->
<md-content layout="column" class="row well display">
  <md-input-container class="md-block">
    <label>Seed Search</label>
    <input type="text" class="search" ng-model="search" placeholder="name, family, lot number"></input>
  </md-input-container>
</md-content>

<!-- area for displaying search results -->
<md-content class="row display well" layout="column">
  <h3 class="titleheader">Seeds in Inventory</h3>
  <div ng-repeat="seedvar in seeds.allTheSeeds.seeds.allSeeds | orderBy: 'seedvar.id' | filter:search">
    <div class="col-xs-8 col-md-9">
      <h5><a href="#" ng-click="seeds.showDetails(seedvar.id)">{{ seedvar.generic }} - {{ seedvar.variety }} | MFR: {{ seedvar.manufacturer }}</a></h5>
      <div ng-show="seeds.details{{seedvar.id}}">
        <p class="indisplay"><strong>Family:</strong> {{ seedvar.family }}</p>
        <p class="indisplay"><strong>Lot Number:</strong> {{ seedvar.lotnumber }}</p>
      </div>
      <div ng-show="seeds.edits{{seedvar.id}}">
        <md-input-container class="md-block">
          <label>Generic Name</label>
          <input ng-model="seedvar.genericUpdated" placeholder="{{seedvar.generic}}"></input>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Family Name</label>
          <input ng-model="seedvar.family" placeholder="{{seedvar.family}}"></input>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Variety</label>
          <input ng-model="seedvar.varietyUpdated" placeholder="{{seedvar.variety}}"></input>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Manufacturer</label>
          <input ng-model="seedvar.manufacturer" placeholder="{{seedvar.manufacturer}}"></input>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Supplier</label>
          <input ng-model="seedvar.supplier" placeholder="{{seedvar.supplier}}"></input>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Lot Number</label>
          <input ng-model="seedvar.lotnumber" placeholder="{{seedvar.lotnumber}}"></input>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Order Date</label>
          <md-datepicker ng-model="seedvar.orderdate" md-placeholder="{{seedvar.orderdate}}"></md-datepicker>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Receive Date</label>
          <md-datepicker ng-model="seedvar.receivedate" md-placeholder="{{seedvar.receivedate}}"></md-datepicker>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Quantity</label>
          <input type="number" ng-model="seedvar.quantity" placeholder="{{seedvar.quantity}}"></input>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Quantity Units</label>
          <input type="text" ng-model="seedvar.quantityunits" placeholder="{{seedvar.quantityunits}}"></input>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Seeds Per Units</label>
          <input type="number" ng-model="seedvar.seedsperunit" placeholder="{{seedvar.seedsperunit}}"></input>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Units Per Pack</label>
          <input type="number" ng-model="seedvar.unitsperpack" placeholder="{{seedvar.unitsperpack}}"></input>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Days Until Harvest</label>
          <input type="number" ng-model="seedvar.daystoharvest" placeholder="{{seedvar.daystoharvest}}"></input>
        </md-input-container>
        <md-input-container class="md-block">
          <md-checkbox ng-model="seedvar.donation">Donation</md-checkbox>
        </md-input-container>
        <md-input-container class="md-block">
          <md-checkbox ng-model="seedvar.plantouse">Plan to Use</md-md-checkbox>
        </md-input-container>
      </div>
    </div>

    <div class="col-xs-2 col-md-2">
      <div ng-show="seeds.details{{seedvar.id}}">
        <md-button aria-label="edit" class="btn1 md-accent md-hue-3" ng-click="seeds.editDetails(seedvar.id)">
          <md-tooltip md-direction="right" md-visible="tooltipVisible">Edit Seed</md-tooltip>
          <md-icon class="material-icons accent" aria-label="menu">create</md-icon>
        </md-button>
        <md-button aria-label="delete" class="btn1 md-warn" ng-click="seeds.deleteSeed(seedvar.id)">
          <md-tooltip md-direction="right" md-visible="tooltipVisible">Delete Seed</md-tooltip>
          <md-icon class="material-icons" aria-label="menu">delete</md-icon>
        </md-button>
      </div>
      <div ng-show="seeds.edits{{seedvar.id}}">
        <md-button aria-label="submit edits" class="btn1 md-accent md-hue-3" ng-click="seeds.updateSeed(seedvar)">
          <md-tooltip md-direction="right" md-visible="tooltipVisible">Submit</md-tooltip>
          <md-icon class="material-icons" aria-label="menu">done</md-icon>
        </md-button>
        <md-button aria-label="cancel edits" class="btn1 md-warn" ng-click="seeds.editDetails(seedvar.id)">
          <md-tooltip md-direction="right" md-visible="tooltipVisible">Cancel</md-tooltip>
          <md-icon class="material-icons" aria-label="menu">not_interested</md-icon>
        </md-button>
      </div>
    </div>
    <div class="line"></div>
  </div>
</md-content>

<md-content layout="row" id="navigationbar">
  <md-toolbar class="row navbar one">
    <md-button class="md-mini col-xs-2" href="/home">
      <md-tooltip md-direction="top" md-visible="tooltipVisible">Back</md-tooltip>
      <md-icon class="material-icons">arrow_back</md-icon>
    </md-button>
    <md-button class="md-mini col-xs-2" href="/locations">
      <md-tooltip md-direction="top" md-visible="tooltipVisible">Locations</md-tooltip>
      <md-icon class="material-icons">add_location</md-icon>
    </md-button>
  </md-toolbar>

  <md-fab-speed-dial ng-hide="hidden" md-direction="up" md-open="isOpen" class="md-scale md-fab-top-right options" ng-class="md-hover-full">
    <md-fab-trigger>
      <md-button aria-label="seed menu" class="md-fab md-warn md-mini">
        <md-tooltip md-direction="left" md-visible="tooltipVisible">Seeds Menu</md-tooltip>
        <md-icon class="material-icons" aria-label="menu">menu</md-icon>
      </md-button>
    </md-fab-trigger>

    <md-fab-actions class="row">
      <md-button href="/newSeedForm" aria-label="add new seed" class="md-fab md-raised md-mini">
        <md-tooltip md-direction="left" md-visible="tooltipVisible" md-autohide="false">Add New Seed</md-tooltip>
        <md-icon class="material-icons">add_circle_outline</md-icon>
      </md-button>
    </md-fab-actions>
  </md-fab-speed-dial>
</md-content>
