<h1>Seeds</h1>

<!-- search bar for finding seeds -->
<form>
  <input type="text" class="seedSearch" ng-model="main.seedSearch" placeholder="Seed name, family, location or item code" />
  <button type="submit" class="btn btn-default">Search</button>
</form>
<!-- area for displaying search results -->
<ng-repeat>
  <button type="button" class="btn btn-default" ng-model="editSeedBtn">Edit</button>
  <button type="button" class="btn btn-default" ng-model="trackSeedBtn">Tracking</button>
</ng-repeat>

<!-- home button -->
<a href="/home" class="btn btn-default" role="button" ng-model="homeBtn">Home</button>


<!-- add seed button, modal form pops up when clicked -->
<a href="/newSeedForm" class="btn btn-default" role="button">Add Seed</button>
