<md-content layout="column" class="well">
  <h3 class="titleheader">Add Watering Activity</h3>
  <md-input-container class="md-block">
    <label>Location</label>
    <md-select name="type" ng-model="waterForm.activity.location.id" id="location" required="">
      <md-option ng-repeat="location in waterForm.locationService.locations.allLocations | orderBy: ['field', 'section', 'row']"
        ng-value="location.id">Field: {{location.field}} Section: {{location.section}} Row: {{location.row}}
      </md-option>
    </md-select>
  </md-input-container>
  <md-input-container class="md-block">
    <label>Comments</label>
    <textarea ng-model="waterForm.activity.comments" id="comments"></textarea>
  </md-input-container>
  <div class="centerbutton">
    <md-button ng-click="waterForm.addActivity(waterForm.activity)" class="md-raised md-cornered md-accent md-hue-3 mainbtn">Submit</md-button>
  </div>
</md-content>

<md-content layout="row" id="navigationbar">
  <md-toolbar class="row navbar one">
    <md-button class="md-mini" href="/water">
      <md-tooltip md-direction="top" md-visible="tooltipVisible">Back</md-tooltip>
      <md-icon class="material-icons">arrow_back</md-icon>
    </md-button>
    <md-button class="md-mini" href="/home">
      <md-tooltip md-direction="top" md-visible="tooltipVisible">Return Home</md-tooltip>
      <md-icon class="material-icons">home</md-icon>
    </md-button>
  </md-toolbar>
</md-content>
