
  <form class="form-horizontal" name="wForm">
    <h1>Weeding</h1>

    <div class="form-group row">
      <label for="location">Location:</label>

      <select class="form-control" ng-model="weedForm.activity.location"
      ng-options="'Field: ' + location.field + ' Section: ' + location.section +
      ' Row: ' + location.row for location in weedForm.locations">
      </select>


    </div>

    <div class="form-group">
      <label for="assigndate">Assign Date:</label>
      <input type="date" name = "assigndate" class="form-control" id="assigndate" ng-model="weedForm.activity.date">
    </div>

    <div class="form-group">
      <label for="weedtype">Weed Type:</label>
      <input type="text" name = "weedtype"  class="form-control" ng-model="weedForm.activity.weedtype" id="weedtype" placeholder="e.g. Quackgrass" ng-maxlength="40" required>
      <div ng-messages="wForm.weedtype.$error" style="color:maroon" role="alert" >
    <div ng-message="required">You did not enter a weed type.</div>
    <div ng-message="maxlength">Your entry is too long.</div>
  </div>
    </div>

    <div class="form-group">
      <label for="duration">Duration in Minutes:</label>
      <input type='number' name="duration" class="form-control" ng-model="weedForm.activity.duration" id="duration">
    </div>

    <div class="form-group">
      <label for="comments">Comments:</label>
      <input type="textarea" class="form-control" ng-model="weedForm.activity.comments" id="comments" placeholder="comments">
    </div>

    <div class="form-group row">
      <div class="col-xs-12 col-md-12">
        <button type="submit" ng-click="weedForm.addActivity(weedForm.activity)" class="btn btn-primary">Submit</button>
        <a href="/weed" role="button" class="btn btn-default">Back</a>
      </div>
    </div>


</form>

<md-content layout="row" id="navigationbar">
  <md-toolbar class="row navbar one">
    <md-button class="md-mini col-xs-2" href="/weed">
      <md-tooltip md-direction="top" md-visible="tooltipVisible">Back</md-tooltip>
      <md-icon class="material-icons">arrow_back</md-icon>
    </md-button>
    <md-button class="md-mini col-xs-2" href="/home">
      <md-tooltip md-direction="top" md-visible="tooltipVisible">Return Home</md-tooltip>
      <md-icon class="material-icons">home</md-icon>
    </md-button>
  </md-toolbar>
</md-content>
