/*.center-block {
  float: none;
}*/

.mainbtn {
  width: 65% !important;
}

.buttonpage {
  margin: 10% 0% 10% 0%;
}

.well {
  background-color: #ffffff;
  padding: 0% 3% 5% 3%;
  margin: 5% 10% 0% 10%;
}

.centerbutton {
  text-align: center;
}

#logo {
  margin-top: 20%;
  width: 50%;
}

#navigationbar {
  overflow-x: visible;
  overflow-y: visible;
}

.homebutton {
  width: 200px;
}

.nav {
  margin: 5% 0 5% 0;
}

.row.navbar.one {
  display: inline-block;
  bottom: -95px;
  width: 1500px;
}

.btn1 {
  padding: 0px 3px 0px 3px;
  margin: 3px 4px 3px 4px;
  min-width: 44px;
  border-radius: 0px;
  font-size: 7px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
}

.check {
  text-align: left;
}

.line {
  border-bottom-width: 1px;
  border-bottom-color: lightgray;
  border-bottom-style: solid;
  margin-bottom: 5px;
}

.titleheader {
  text-align: center;
  color: rgb(90, 60, 50);
}

p.indisplay {
  font-size: 13px;
  margin-bottom: 1px;
}

a {
  color: rgb(90, 60, 50);
}
