.center-block {
  float: none;
}

#logo {
  margin-top: 20%;
}

#loginbutton {
  margin-top: 15%;
}

#navigationbar {
  overflow-x: visible;
  overflow-y: visible;
}

.homebutton {
  margin: 15% 0 15% 0;
}

.nav {
  margin: 5% 0 5% 0;
}

.row.navbar.one {
  display: inline-block;
  bottom: -95px;
  width: 1500px;
}

.btn1 {
  padding: 0px 3px 0px 3px;
  margin: 3px 4px 3px 4px;
  min-width: 44px;
  border-radius: 0px;
  font-size: 7px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
}

.check {
  text-align: left;
}

.col-xs-12.col-md-8.submit {
  text-align: center;
}

.display.well {
  margin-top: 5%;
  overflow: auto !important;
  max-height: 400px !important;
}

.line {
  border-bottom-width: 1px;
  border-bottom-color: white;
  border-bottom-style: solid;
}

.titleheader {
  text-align: center;
  color: rgb(90, 60, 50);
}

p.indisplay {
  font-size: 13px;
  margin-bottom: 1px;
}
